default
.art*.zip
__pycache__ 
.vs
_deploy
tools/steamcmd
!tools/steamcmd/steamcmd.exe
_builder_output
emsdk
demos/html5/*.data 
demos/html5/*.js
demos/html5/*.html
demos/ports/*/*.exe
demos/ports/doom/.doomrc 
*.sublime-workspace
engine/v4k.html
*.exe.manifest
*.log
v4k.osx
libv4k.*
*.dSYM
.DS_store
*.raddbg
plugins
tools/assimp-vc*-mt.lib
tools/assimp/
v4k.code-workspace
