.ark
default
.art*.zip
*.rdi
__pycache__ 
.vs
.vscode
_deploy
tools/steamcmd
!tools/steamcmd/steamcmd.exe
_builder_output
emsdk
demos/html5/*.data 
demos/html5/*.js
demos/html5/*.html
demos/ports/*/*.exe
demos/ports/doom/.doomrc 
*.sublime-workspace
engine/v4k.html
*.exe.manifest
*.log
v4k.osx
libv4k.*
*.dSYM
.DS_store
*.raddbg
plugins
tools/assimp-vc*-mt.lib
tools/assimp/
v4k.code-workspace
tests/out
tests/diff
mtb.ini
*.blend1
_fwk
.env*
.*.bat
*.dbg
_cache
*.exp
/*.obj
tools/*.obj
*.exe
*.ilk
*.dll
*.pdb
*.lib
*.sav
*.sln

!tools/assimp-vc*-mt.lib
!tools/rh/ResourceHacker.exe
!tools/steamcmd/steamcmd.exe
!tools/*.exe
!tools/assimp-vc*-mt.dll